.projectModal .sideQuestModal{
    margin: 20px;
}
.projectModal .sideQuestModal .title h1{
    font-family: 'Germania One', Calibri;
    text-shadow: 5px 5px #6FC3CB;
    font-size: 90px;
    color: #333;
}

.projectModal .features .featuresTray .whiteContainer:nth-child(4) img{
    max-width: 200px;
    margin: 10px auto;
}

@media screen and (max-width: 590px) {
    .projectModal .sideQuestModal .title h1{
        text-shadow: 4px 4px #6FC3CB;
        font-size: 70px;
    }
}
@media screen and (max-width: 490px) {
    .projectModal .sideQuestModal .title h1{
        text-shadow: 4px 4px #6FC3CB;
        font-size: 60px;
    }
}